        <tr>
            <td>
                {{model.Name}}
            </td>
            <td>
                {{model.Description}}
            </td>
            <td>
                {{model.Status}}
            </td>
            <td>
                {{model.Quality}}
            </td>
            <td>
                <a href="{{ url_for('edit', id=item.ID_ToDo) }}">Edit</a><br>
            </td>
            <td>
                <a href="{{ url_for('delete', id=item.ID_ToDo) }}">Delete</a>
            </td>
        </tr>